<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Union member:</strong>
  <%= @artist.union_member %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @artist.dob %>
</p>

<!-- Show all songs for this artist -->
<h3>
  <% @artist.songs.each do |song| %>
  <ul>
    <li>Title: <%= song.title %></li>
    <li>Duration: <%= song.duration %></li>
    <li>Price: <%= song.price %></li>
    <hr>
  </ul>
  <% end %>
</h3>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
